.container {
  margin-top: 10px;
  text-align: center;
}

.main {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px;
  width: 600px;
  border: solid #ececec 1px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.main1 {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px;
  width: 1000px;
  border: solid #ececec 1px;
  background-color: #ffffff;
  border-radius: 10px;
}

.copyright {
  color: #050514;
  text-align: center;
  margin-top: auto;
  /* font-size: smaller; */
}

.carousel-inner {
  display: block;
}

.nameColor {
  color: black;
}
.nameColor:hover {
  color: rgb(16, 42, 234);
}
.nameColor1 {
  color: red;
}
.position {
  float: right;
}

.position1 {
  float: center;
}

.footer {
  background-color: #e9effa;
  color: #413d3d;
  height: 20%;
  bottom: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
}

.nameColor2 {
  color: #ffffff;
}

.btn4 {
  border-radius: 10px;
  font-size: 17px;
  background-color: #e7e7e7;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
